<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangman.austin.thecollector" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CollectionsActivity"
            android:label="@string/title_activity_collections" >
        </activity>
        <activity
            android:name=".ItemsActivity"
            android:label="@string/title_activity_items" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FindCollectionActivity"
            android:label="@string/title_activity_find_collection" >
        </activity>
        <activity
            android:name=".ItemsAfterSearchActivity"
            android:label="@string/title_activity_items_after_search" >
        </activity>
        <activity
            android:name=".RegisterUserActivity"
            android:label="@string/title_activity_register_user" >
        </activity>
    </application>

</manifest>
